<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
        <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)">
            <div class="form-group" [ngClass]="{'error':!validatefName()}">
                <label for="firstName">First Name:</label>
                <em *ngIf="!validatefName() && profileForm.controls.firstname?.errors?.required">required</em>
                <em *ngIf="!validatefName() && profileForm.controls.firstname?.errors?.pattern">Must only be letters</em>
                <input id="firstName" type="text" class="form-control" placeholder="First Name..."
                    formControlName="firstname"/>
            </div>
            <div class="form-group" [ngClass]="{'error':!validatelName()}">
                <label for="lastName">Last Name:</label>
                <em *ngIf="!validatelName()">required</em>
                <input id="lastName" type="text" class="form-control" placeholder="Last Name..."
                    formControlName="lastname" />
            </div>

            <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>